       <tr>
          <td><%= system.name %></td>
          <td><%= system.release_year %></td>
          <td><%= system.c_id %></td>
          <td><%= system.played %></td>
          <td><%= link_to 'Edit', edit_system_path(system), class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white'%></td>
        </tr>
        