<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @system.c_id %>
</p>
<p>
  <strong>Type:</strong>
  <%= @system.played %>
</p>
<p>
  <strong>Release Year:</strong>
  <%= @system.release_year %>
</p>

<%= link_to 'Back', systems_path %>