<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Games DB</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="../assets/ios-desktop.png">

  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">


  <script src="../assets/title.js"></script>
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.cyan-light_blue.min.css">-->
  <link rel="stylesheet" href="../assets/styles.css">
  <link rel="stylesheet" href="../assets/global.css">
  <link rel="stylesheet" href="../assets/application.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

</head>
    <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--light-blue-800 mdl-color-text--red-700">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title mdl-color-text--blue-grey-50" id="where_page_title_goes"></span>
          <div class="mdl-layout-spacer"></div>
         <%if current_page?('/games' || ' ')%>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-color-text--blue-grey-50", style="margin-top: 0%">
            <%= form_tag(games_path, :method => "get", id: "search-form", class: 'mdl-textfield mdl-js-textfield', style: 'margin-top: 0%') do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Games", class: 'mdl-textfield__input mdl-color-text--blue-grey-50' %>
              <%= submit_tag "Search", class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white', style: 'visibility: hidden' %>
            <% end %>
          </div>
          <% end %>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item" href="https://github.com/">About</li>
            <li><a class="mdl-menu__item" href="/games/new">New Game</a></li>
            <li><a class="mdl-menu__item" href="/systems/new">New System</a></li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--light-blue-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="../assets/user.jpg" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>"email@example.com"</span>
            <div class="mdl-layout-spacer"></div>

          </div>
        </header>
        <nav class="demo-navigation mdl-navigation 	mdl-color--light-blue-800">
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/home">Home</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games">Games</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/systems">Systems</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/reporting">Reports</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/settings">Control Console</a>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>

<main class="mdl-layout__content mdl-color--grey-100">
  <div>
    <%= yield %>
  </div>
</main>


</div>
<script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</body>
</html>
